
@mixin button {
    font: normal 500 16px/16px;
    display:inline-block;
    text-decoration: none;
    color: $white;
    border: 1px solid $white;
    border-radius: 39px;
}
@mixin clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin font {
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    padding:10px; 
}

@mixin font-p {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    padding:10px;
}